<form class="form-register" #f="ngForm" novalidate (ngSubmit)="registerUser(f)">
  <h2>Please enter your information</h2>

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" required name="firstName" class="form-control" placeholder="First Name" ngModel
      #firstName="ngModel">
    <small [hidden]="firstName.valid || (firstName.pristine && !submitted)" class="text-danger">Please enter a valid
      firstName</small>
  </div>

  <div class="form-group">
    <label for="fatherName">Father Name</label>
    <input id="fatherName" type="text" required name="fatherName" class="form-control" placeholder="First Name" ngModel
      #fatherName="ngModel">
    <small [hidden]="fatherName.valid || (fatherName.pristine && !submitted)" class="text-danger">Please enter a valid
      fatherName</small>
  </div>

  <div class="form-group">
    <label for="grandFatherName">Grand Father Name</label>
    <input id="grandFatherName" type="text" required name="grandFatherName" class="form-control" placeholder="First Name" ngModel
      #grandFatherName="ngModel">
    <small [hidden]="grandFatherName.valid || (grandFatherName.pristine && !submitted)" class="text-danger">Please enter a valid
      grandFatherName</small>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel
      #email="ngModel">
    <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid
      email</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel>
  </div>
  <div class="form-group">
    <label for="passwordAgain">Password Again</label>
    <input type="password" class="form-control" id="passwordAgain" placeholder="Password Again" required
      name="passwordAgain" ngModel>
  </div>

  <div class="form-group">
    <label for="role">Role</label>
    <select name="" id="role" class="form-control" name="role" ngModel>
      <option value=""></option>
      <option *ngFor="let r of roles" value="{{ r.name }}">{{ r.normalizedName }}</option>
    </select>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Sign Up</button>
    <!-- <app-spinner [isRunning]="isRequesting"></app-spinner>  -->
  </div>

  <div *ngIf="errors" class="alert alert-danger" role="alert">
    <strong>Oops!</strong> {{errors}}
  </div>

</form>
