<p>{{ timetable.schedule.fitness }}</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Day</th>
            <th *ngFor="let p of periods">
                {{ p + 1}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of weekDays">
            <td>{{ d.name }}</td>
            <td *ngFor="let s of timetable.schedule.timeTable[d.number]"  [attr.colspan]="s.duration">
                {{ s.course.name }} | {{ s.duration }}
            </td>
        </tr>
    </tbody>
</table>