<h2 *ngIf="room.id === 0; else editHeader">New Room</h2>
<ng-template #editHeader>
  <h2>Edit Room</h2>
</ng-template>
{{ room| json }}
<form (ngSubmit)="submit()">
  <div class="form-group">
    <label for="building">Building</label>
    <select id="building" class="form-control" [(ngModel)]="room.buildingId" name="buildingId">
      <option value=""></option>
      <option *ngFor="let building of buildings" value="{{ building.id }}">{{ building.name }}-{{ building.number }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control" [(ngModel)]="room.name" name="name">
  </div>

  <div class="form-group">
    <label for="size">Size</label>
    <input id="size" type="text" class="form-control" [(ngModel)]="room.size" name="size">
  </div>

  <div class="form-group">
    <label for="floor">Floor</label>
    <input id="floor" type="text" class="form-control" [(ngModel)]="room.floor" name="floor">
  </div>

  <div class="checkbox" *ngFor="let type of roomTypes">
    <label><input type="checkbox" value="{{ type.id }}" (change)="onRoomTypeChange($event)"
        [checked]="isChecked(type.id)">{{ type.name }}</label>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>