<div *ngIf="outlet.isActivated == false">
  <h3>Course Offering Detail</h3>
  <div *ngIf="courseOffering">
    <h4>Course</h4>
    <p>Code: {{ courseOffering['course']['courseCode'] }}</p>
    <p>Title: {{ courseOffering.course.name }}</p>
    <h4>Section</h4>
    <p>Name: {{ courseOffering.section.name }}</p>
    <p>Entrance Year: {{ courseOffering.section.entranceYear }}</p>
    <h4>Instructors</h4>
    <div *ngFor="let i of courseOffering.instructors">
      <p>{{ i.type.name }}:
        <span *ngIf="i.instructor; else noInstructor">
          <mat-chip-list>
            <mat-chip color="accent">
              {{ i.instructor.user.firstName }} {{ i.instructor.user.fatherName }}
              {{ i.instructor.user.grandFatherName }}
            </mat-chip>
            <button mat-icon-button color="warn" (click)="removeAssignment(i.type.id)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </mat-chip-list>
        </span>
        <ng-template #noInstructor><span><a color="primary" [routerLink]="['assign', i.type.id]">Assign</a></span>
        </ng-template>
      </p>
    </div>
    <h4>Rooms</h4>
    <div *ngFor="let r of courseOffering.rooms">
      <p>{{ r.type.name }}:
        <span *ngIf="r.room; else noRoom">
          <mat-chip-list>
            <mat-chip color="accent">
              {{ r.room.name }}
            </mat-chip>
            <button mat-icon-button color="warn" (click)="removeRoomAssignment(r.type.id, r.room.id)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </mat-chip-list>
        </span>
        <ng-template #noRoom>
          <span><a color="primary" [routerLink]="['assign-room', r.type.id]">Assign</a></span>
        </ng-template>
      </p>
    </div>
  </div>
</div>
<router-outlet #outlet="outlet"></router-outlet>