<h2>Assign Room</h2>
<form [formGroup]="form" (ngSubmit)="assignRoom()">
  <div class="form-group">
    <label for="assignFor">Assign For</label>
    <select id="assignFor" class="form-control" formControlName="typeId" (change)="onRoomTypeChange($event)">
      <option value=""></option>
      <option *ngFor="let type of roomTypes" value="{{ type.id }}">{{ type.name }}</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="room">Room</label>
    <select id="room" class="form-control" formControlName="roomId">
      <option value=""></option>
      <option *ngFor="let room of rooms" value="{{ room.id }}">{{ room.name }}</option>
    </select>
  </div>
  <button class="btn btn-primary">Assign</button>
</form>