<h2 *ngIf="!instructor.id; else editHeader">New Instructor</h2>
<ng-template #editHeader>
  <h2>Edit Instructor</h2>
</ng-template>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div formGroupName="user">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" class="form-control" formControlName="firstName">
    </div>

    <div class="form-group">
      <label for="fatherName">Father Name</label>
      <input type="text" id="fatherName" class="form-control" formControlName="fatherName">
    </div>

    <div class="form-group">
      <label for="grandFatherName">Grand Father Name</label>
      <input type="text" id="grandFatherName" class="form-control" formControlName="grandFatherName">
    </div>

    <div class="form-group" *ngIf="!instructor.id">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email">
    </div>
  </div>

  <div class="form-group">
    <label for="department">Department</label>
    <select id="department" class="form-control" formControlName="departmentId">
      <option value=""></option>
      <option *ngFor="let department of departments" value="{{ department.id }}">{{ department.name }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>