<h2>Schedule Configuration Form</h2>
<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-group">
    <label for="admissionLevel">Admission Level</label>
    <select id="admissionLevel" class="form-control" formControlName="admissionLevelId">
      <option value=""></option>
      <option *ngFor="let a of admissionLevels" value="{{ a.id }}">{{ a.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="programType">Program Type</label>
    <select id="programType" class="form-control" formControlName="programTypeId">
      <option value=""></option>
      <option *ngFor="let p of programTypes" value="{{ p.id }}">{{ p.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="daysPerWeek">Days per week</label>
    <input id="daysPerWeek" type="number" class="form-control" formControlName="numberOfDaysPerWeek">
  </div>

  <div class="form-group">
    <label for="periodsPerDay">Periods per day</label>
    <input id="periodsPerDay" type="number" class="form-control" formControlName="numberOfPeriodsPerDay">
  </div>

  <div class="form-group">
    <label for="periodDuration">Period Duration</label>
    <input id="periodDuration" type="number" class="form-control" formControlName="periodDuration">
  </div>

  <div class="form-group">
    <label for="startTime">Start Time</label>
    <input id="startTime" type="time" class="form-control" formControlName="startTime">
  </div>

  <div class="form-group">
    <label for="periodBreakDuration">Period Break Duration</label>
    <input id="periodBreakDuration" type="number" class="form-control" formControlName="periodBreakDuration">
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="lunchBreak" (change)="toggleLunchBreak()" formControlName="isThereALunchBreak">
    <label class="form-check-label" for="lunchBreak">Lunch break?</label>
  </div>

  <div *ngIf="isThereLunchBreak">
    <div class="form-group">
      <label for="lunchBreakDuration">Lunch Break Duration</label>
      <input id="lunchBreakDuration" type="number" class="form-control" formControlName="lunchBreakDuration">
    </div>
  </div>

  <button class="btn btn-primary">Save</button>
</form>