<div class="row">
  <div *ngIf="userService.decodedToken.admin === 'true'" class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Colleges</h5>
        <p class="card-text">Colleges so far.</p>
        <a routerLink="colleges" class="btn btn-primary">View Colleges</a>
      </div>
    </div>
  </div>
  <div *ngIf="userService.decodedToken.dean === 'true'" class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Departments</h5>
        <p class="card-text">Departments.</p>
        <a routerLink="departments" class="btn btn-primary">Departments</a>
      </div>
    </div>
  </div>
  <div *ngIf="userService.decodedToken.admin === 'true'" class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Buildings</h5>
        <p class="card-text">Buildings</p>
        <a routerLink="buildings" class="btn btn-primary">Buildings</a>
      </div>
    </div>
  </div>
  <div *ngIf="userService.decodedToken.admin === 'true'" class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Rooms</h5>
        <p class="card-text">Rooms</p>
        <a routerLink="rooms" class="btn btn-primary">Rooms</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Schedule Configurations</h5>
        <p class="card-text">Create schedule Configurations.</p>
        <a routerLink="scheduleconfigurations/new" class="btn btn-primary">Configure Schedule</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Schedules</h5>
        <p class="card-text">View Schedules.</p>
        <a routerLink="schedules/1" class="btn btn-primary">Schedules</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  
</div>