<h2>Course Offerings</h2>
<button class="btn btn-primary" (click)="createCourseOfferings()">Create Course Offerings</button>

<table class="table">
  <thead>
    <tr>
      <th>Section</th>
      <th>Course Code</th>
      <th>Course Title</th>
      <th>Instructors</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let co of courseOfferings">
      <td>{{ co.section.name }}</td>
      <td>{{ co.course.courseCode }}</td>
      <td>{{ co.course.name }}</td>
      <td>
        <a *ngIf="co.instructors.length > 0; else noInstructor" href="">{{ co.instructors | json }}</a>
        <ng-template #noInstructor><span>No instructor</span></ng-template>
      </td>
      <td><a [routerLink]="['/courseofferings', 'assign', co.id]">Assign</a></td>
    </tr>
  </tbody>
</table>