<h2>Course Offerings</h2>
<button mat-raised-button color="primary" (click)="createCourseOfferings()">Create Course Offerings</button>

<div class="search-div">
    <mat-form-field class="search-form-field">
        <input matInput type="text" placeholder="Search" [(ngModel)]="searchKey" (keyup)="applyFilter()" />
        <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchKey()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8 data-table">
    <table mat-table [dataSource]="dataSource" aria-label="Sections" multiTemplateDataRows>

        <!-- Section Name Column -->
        <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef>Section</th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column -->
        <ng-container matColumnDef="expandedDetail">
            <th mat-header-cell *matHeaderCellDef>Section</th>
            <td mat-cell *matCellDef="let detail">
                <div class="example-element-detail" *ngFor="let d of detail.courseOfferings"
                    [@detailExpand]="detail == expandedSection ? 'expanded' : 'collapsed'">
                    {{ d|json }}
                </div>
            </td>
        </ng-container>

        <!-- Course Name Column -->
        <!-- <ng-container matColumnDef="courseName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Course Title</mat-header-cell>
            <mat-cell *matCellDef="let row"> </mat-cell>
        </ng-container> -->

        <!-- Course Code Column -->
        <!-- <ng-container matColumnDef="courseCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Course Code</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.course.courseCode}}</mat-cell>
        </ng-container> -->

        <!-- Section Name Column -->
        <!-- <ng-container matColumnDef="sectionName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Section</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.section.name}}</mat-cell>
        </ng-container> -->

        <!-- Entrance Year Column -->
        <!-- <ng-container matColumnDef="entranceYear">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Entrance Year</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.section.entranceYear }}</mat-cell>
        </ng-container> -->

        <!-- Is Assignment Completed Column -->
        <!-- <ng-container matColumnDef="isAssignmentCompleted">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span *ngIf="isAssignmentCompleted(row); else noSpan">Yes</span>
                <ng-template #noSpan>
                    <span>No</span>
                </ng-template>
            </mat-cell>
        </ng-container> -->

        <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th mat-header-cell>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [routerLink]="['/courseofferings', row.id]">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button (click)="openDeleteDialog(row.id)" color="warn">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td mat-cell>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row 
            *matRowDef="let row; columns: displayedColumns;" 
            matRipple 
            class="example-element-row"
            [class.example-expanded-row]="expandedSection === row" 
            (click)="expandedSection = expandedSection === row ? null : row">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
            style="overflow: hidden"
            class="example-detail-row" >
        </tr>

    </table>
    <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 25, 50, 100, 250]"
        showFirstLastButtons>
    </mat-paginator>
</div>