<h3>Course Offering Detail</h3>
<h4>Course</h4>
<!-- <p *ngIf="hasLoaded && courseOffering.course.lecture > 0">Lecture</p> -->
<p *ngIf="hasLoaded">Code: {{ courseOffering['course']['courseCode'] }}</p>
<p *ngIf="hasLoaded">Title: {{ courseOffering.course.name }}</p>
<h4>Section</h4>
<p *ngIf="hasLoaded">Name: {{ courseOffering.section.name }}</p>
<p *ngIf="hasLoaded">Entrance Year: {{ courseOffering.section.entranceYear }}</p>
<h4>Instructors</h4>



<!-- <form [formGroup]="form" (ngSubmit)="assignInstructor()">
  <div class="form-group">
    <label for="assignFor">Assign For</label>
    <select id="assignFor" class="form-control" formControlName="typeId">
      <option value=""></option>
      <option *ngFor="let type of types" value="{{ type.id }}">{{ type.name }}</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="room">Room</label>
    <select id="room" class="form-control" formControlName="instructorId">
      <option value=""></option>
      <option *ngFor="let i of instructors" value="{{ i.id }}">{{ i.firstName }} {{ i.fatherName }} {{ i.grandFatherName }}</option>
    </select>
  </div>
  <button class="btn btn-primary">Assign</button>
</form> -->
