<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img class="img-fluid" width="50" src="dbu_logo.png" alt="dbu logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li *ngIf="userService.isLoggedIn()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          user@domain.com
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="userService.logout()">Logout</a>
        </div>
      </li>
      <li *ngIf="!userService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/login">
          Login
        </a>
      </li>
    </ul>
  </div>

  <!--  -->
  <!--  -->
</nav>

<!-- <div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>SchedulingSystem</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Home
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/scheduleconfigurations"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Schedule Configuration
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/courseofferings"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Course Offerings
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/colleges"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Colleges
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/departments/new"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-plus'></span> Departments
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/curriculums/new"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-plus'></span> New Curriculum
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/courses/new"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-plus'></span> New Course
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/buildings/new"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-plus'></span> New Building
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/rooms/new"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-plus'></span> New Room
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/sections/new"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-plus'></span> New Section
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/instructors/new"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-plus'></span> New Instructor
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/sections"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-plus'></span> Sections
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/years/new"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-plus'></span> Academic Year
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/semesters/new"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-education'></span> Academic Semester
              </a>
            </li>
          </ul>
        </div>
    </div>
</div> -->